/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

u {
    color: red;
    background-color: cyan;
}

p {
    color: rgb(251, 255, 0);
    background-color: blur;
}

.task {
    background-color: hotpink;
    color: crimson;
} */

.govuk-heading-xl {
    color: red;
}

.govuk-body {
    color: hotpink;
}

.govuk-width-container {
    background-color: red;
}

.govuk-form-group {
    color: cyan;
}

.govuk-label {
    color: green;
}

.govuk-input {
    color: rgb(3, 1, 136);
}

.govuk-button {
    color: dimgrey;
}