* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

u {
    color: red;
    background-color: cyan;
}

p {
    color: rgb(251, 255, 0);
    background-color: blur;
}

.task {
    background-color: hotpink;
    color: crimson;
}